.word-slider-container {
  position: relative;
  min-width: fit-content;
}

.word {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.word.active {
  opacity: 1;
  transform: translateY(0);
}

.word.next {
  transform: translateY(50%);
}
