---
import Layout from "../layouts/Layout.astro";
import GetMy from "../components/GetMy";
---

<Layout
  title="InfoShare"
  description="Easily share you profile, links and resume to potential recruiters or clients with a single input."
>
  <main class="flex flex-col gap-2 p-4 min-h-screen sm:px-6 sm:py-4">
    <header class="sm:pl-4">
      <h1
        class="font-roboto text-xl font-extrabold bg-accent-gradient bg-clip-text text-transparent sm:text-2xl"
      >
        InfoShare
      </h1>
    </header>

    <div
      class="container mx-auto py-8 flex-1 flex flex-col justify-center items-center sm:max-w-fit gap-8 sm:gap-12"
    >
      <div class="flex flex-col py-2 sm:items-center">
        <h5
          class="text-2xl xs:text-3xl sm:text-5xl lg:text-6xl text-accent-secondary font-medium uppercase leading-7"
        >
          Want to know more ?
        </h5>

        <h6
          class="flex flex-wrap sm:justify-center gap-1 text-xl xs:text-2xl sm:text-4xl lg:text-5xl text-accent-light font-light sm:font-extralight uppercase leading-7"
        >
          Get my
          <GetMy client:load />
          sent to you!
        </h6>
      </div>

      <div
        class="w-full max-w-lg flex flex-col gap-1 bg-accent-dark/30 border border-accent/30 shadow-purple rounded-lg px-4 py-8 sm:px-8 sm:py-10"
      >
        <p
          class="text-accent-light/90 uppercase text-xs tracking-wider lg:text-sm lg:font-semibold"
        >
          enter your email:
        </p>

        <input
          type="email"
          name="email"
          class="bg-accent-dark/30 border-accent/80 border rounded-sm text-accent-light outline-none p-1 sm:p-2 focus:border-accent-light/80"
        />

        <button
          class="mt-3 bg-accent rounded-sm uppercase text-accent-light font-medium p-2 text-sm active:bg-accent-secondary focus:bg-accent-secondary focus:outline-accent active:translate-y-[2px]"
          >submit</button
        >
      </div>
    </div>

    <div>
      <p class="text-center text-accent-light/60 font-light text-sm">
        Built by <a href="/" class="text-accent-light/80 font-medium">Enzo</a>
      </p>

      <div class="flex flex-wrap items-center justify-center text-sm">
        <p class="text-center text-accent-light/60 font-light">Powered by</p>
        <img
          src="/favicon.svg"
          alt="astro"
          class="h-5 w-5 fill-slate-200 ml-1"
        />
        <a href="https://astro.build/" class="text-accent-light/80 font-medium"
          >Astro</a
        >
      </div>
    </div>
  </main>
</Layout>
